<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                My progress
                <div class="progress m-t-30">
                    <div class="progress-bar active progress-bar-striped bg-danger" 
                          style="height:12px;" 
                          [style.width]="getProgress1"
                          role="progressbar">
                     </div>
                </div>
                <div class="progress m-t-30">
                    <div class="progress-bar active progress-bar-striped bg-primary" 
                        style="height:12px;"
                        [style.width]="getProgress2" 
                        role="progressbar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-incrementador [value]="progress1" 
                                   (emitirCambio)="progress1 = $event"
                                   [btnClass]="'btn btn-danger'"
                                   >
                </app-incrementador>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
    
                <app-incrementador [value]="progress2"
                                   (emitirCambio)="progress2 = $event"
                                   [btnClass]="'btn btn-primary'"
                                   >
                </app-incrementador>
    
            </div>
        </div>
    </div>
</div>



