<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <img [src]="user.urlImg" alt="user" />
                        <span class="hide-menu"> {{user.name}} </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLinkActive="active" routerLink="./profile" >My Profile </a></li>
                        <li><a routerLinkActive="active">My Balance</a></li>
                        <li><a routerLinkActive="active">Inbox</a></li>
                        <li><a routerLinkActive="active" routerLink="account-settings">Account Setting</a></li>
                        <li><a routerLink="/login" (click)="logout()">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>

                <li *ngFor="let item of  menuItems" > 
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <i class="{{ item.icono }}"></i>
                        <span
                            class="hide-menu"> {{item.titulo}} 
                            <span class="label label-rouded label-themecolor pull-right"> {{item.submenu.length}} </span>
                        </span>
                    </a>
                    <!-- routerLinkActiveOptions => para que la ruta se active tiene que ser exacta-->
                    <ul aria-expanded="false" class="collapse" *ngFor="let subitem of item.submenu">
                        <li>
                            <a  routerLink="{{ subitem.url }}" 
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }"
                                >{{ subitem.titulo }} 
                            </a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->