<div class="main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div class="page-wrapper">
        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <app-breadcrumbs></app-breadcrumbs>

            <!-- sistema de rutas-->
            <router-outlet></router-outlet>

        </div>

        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 20xx Admin
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
</div>

<app-modal-img></app-modal-img>