<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar"
    style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" id="loginform" (submit)="login()" [formGroup]="loginForm">
                <a routerLink="/" class="text-center db">
                    <img src="../assets/images/logo-icon.png"
                        alt="Home" /><br />
                    <img src="../assets/images/logo-text.png" alt="Home" />
                </a>


                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input class="form-control" type="email" formControlName="email" placeholder="Email">
                    </div>
                    <div class="container-flex text-danger d-flex align-items-center" style="height: 20px;">
                        <small *ngIf="loginForm.get('email').invalid &&  (loginForm.get('email').dirty ||
                        loginForm.get('email').touched)">Email invalido!</small>  
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" autocomplete="on" type="password" formControlName="password" placeholder="Password">
                    </div>
                    <div class="container-flex text-danger d-flex align-items-center" style="height: 18px;">
                        <small *ngIf="loginForm.get('password').invalid &&  (loginForm.get('password').dirty ||
                        loginForm.get('password').touched)">Campo requerido!</small>   
                    </div>
                </div>

                <div class="container-flex text-danger d-flex align-items-center mb-4" style="height: 18px;">
                    <small *ngIf="msgError"> {{ msgError}}</small>   
                </div>


                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary pull-left p-t-0">
                            <input id="checkbox-signup" 
                                   type="checkbox" 
                                   class="filled-in chk-col-light-blue"
                                   formControlName="remember"
                                   >
                            <label for="checkbox-signup"> Remember me </label>
                        </div>
                        <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i
                                class="fa fa-lock m-r-5"></i> Forgot pwd?</a>
                    </div>
                </div>


                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">LogIn</button>
                    </div>
                </div>
                 <div class="text-center">or</div>

                 <div class="text-center">
                     <div id="my-signin2" class="d-flex justify-content-center mb-2 w-100"></div>

                 </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        Don't have an account? 
                        <a routerLink="/register" class="text-primary m-l-5">
                            Register
                        </a>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" id="recoverform">
                <div class="form-group ">
                    <div class="col-xs-12">
                        <h3>Recover Password</h3>
                        <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Email">
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light"
                            type="submit">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->