<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar"
    style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form (ngSubmit)="createUser()" [formGroup]="registerForm" class="form-horizontal form-material" id="loginform" action="index.html">
                <a href="javascript:void(0)" class="text-center db">
                    <img src="../assets/images/logo-icon.png" alt="Home" />
                    <br/>
                    <img src="../assets/images/logo-text.png" alt="Home" />
                </a>
                <h3 class="box-title m-t-40 m-b-0">Register Now</h3><small>Create your account and enjoy</small>

                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <input class="form-control" 
                               type="text" 
                               formControlName="name" 
                               placeholder="Name">
                    </div>

                    <div class="container-flex text-danger d-flex align-items-center" style="height: 20px;">
                        <small *ngIf="registerForm.get('name').errors?.required &&  (registerForm.get('name').dirty ||
                               registerForm.get('name').touched)">Campo requerido!
                        </small>   
                        <div *ngIf="registerForm.get('name').errors?.minlength">
                            <small>se requieren minimo 3 caracteres</small>
                        </div>
                    </div>

                </div>

                <div class="form-group ">
                    <div class="col-xs-12">
                        <input  class="form-control" 
                                type="text" 
                                formControlName="email" 
                                placeholder="example@gmail.com">
                    </div>
                    <div class="container-flex text-danger d-flex align-items-center" style="height: 20px;">
                        <small *ngIf="registerForm.get('email').invalid &&  (registerForm.get('email').dirty ||
                        registerForm.get('email').touched)">Email invalido!</small>  
                        <small *ngIf="msgError"> {{msgError}} </small> 
                    </div>
                    
                </div>
                
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" 
                                type="password" 
                                placeholder="Password"
                                formControlName="password"
                        >
                    </div>

                    <div class="container-flex text-danger d-flex align-items-center" style="height: 20px;">
                        <small *ngIf="registerForm.get('password').invalid &&  (registerForm.get('password').dirty ||
                        registerForm.get('password').touched)">Campo requerido!</small>   
                    </div>
                    
                </div>


                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" 
                                type="password" 
                                placeholder="Confirm password"
                                formControlName="password2"
                        >
                    </div>

                    <div class="container-flex text-danger d-flex align-items-center" style="height: 20px;">
                        <small *ngIf="registerForm.get('password2').errors?.required &&  (registerForm.get('password2').dirty ||
                                registerForm.get('password2').touched)">Campo requerido!
                        </small>   
                        <small *ngIf="registerForm.get('password2').errors?.noEsIgual &&  (registerForm.get('password2').dirty ||
                        registerForm.get('password2').touched)">Las contraseñas no coinciden</small>                    

                    </div>
                </div>

               


                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="checkbox checkbox-primary p-t-0">
                            <input id="checkbox-signup" 
                                    type="checkbox"
                                    formControlName="terminos"
                                    >
                            <label for="checkbox-signup"> I agree to all <a href="#">Terms</a></label>
                        </div>
                    </div>

                    <div class="container-flex text-danger d-flex align-items-center" style="height: 20px;">
                        <small *ngIf="(!registerForm.get('terminos').value || registerForm.get('terminos').errors?.invalid)  &&  
                               (registerForm.get('terminos').dirty || registerForm.get('terminos').touched)">
                               Debes aceptar los términos y condiciones!
                        </small>   
                    </div>


                </div>

                <p> Valida los campos antes de enviar*</p>


                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                                [disabled]="registerForm.invalid"
                                type="submit">
                                Create account
                        </button>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <p>Already have an account?
                            <a routerLink="/login" class="text-info m-l-5">
                                Sign In
                            </a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->