<div class="row">
    <div class="col-6">
        <app-dona title="Ventas" [labels]="label1"></app-dona>
    </div>

    <div class="col-6">
        <app-dona title="Compras" [labels]="label2" [chartData]="data2"></app-dona>
    </div>
</div>