<div class="fondo-modal-imagen animated fadeIn fast"
    [class.d-none]="modalService.hideModal">

    <div class="modal fade show" 
        id="exampleModal" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="exampleModalLabel1" 
        style="display: block;">

        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Cargar imagen</h4>
                <button type="button" 
                        class="close" 
                        data-dismiss="modal" 
                        aria-label="Close"
                        (click)="cerrarModal()">
                        <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                
                <h3>Seleccione una imagen</h3>

                <div class="text-center">
                    <img *ngIf="!imgTemp" [src]="modalService.img | imagen:modalService.tipo" class="img-avatar" width="200" height="200">
                    <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar" width="200" height="200">
                </div>

                <input type="file"
                        (change)="cambiarImagen($event.target.files[0])">


            </div>
            <div class="modal-footer">
                <button type="button" 
                        class="btn btn-default" 
                        data-dismiss="modal"
                        (click)="cerrarModal()">
                    Cancelar
                </button>
                <button type="button" 
                        class="btn btn-primary"
                        (click)="subirImagen()">Actualizar foto</button>
            </div>
        </div>
        </div>
    </div>
</div>

