<!--Search-->
<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <input type="text"
                        class="form-control"
                        placeholder="Search user..."
                        (keyup)="buscar( txtTermino.value )"
                        #txtTermino/>

            </div>
        </div>
    </div>
</div> 
<!--Search-->

<!--Loading-->
<div class="row animated fadeIn fast"
     *ngIf="loading">
    <div class="col-12">
        
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">loading</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div> 
<!--Loading-->

<!--Table users-->
<div class="row animated fadeIn fast" 
    *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total users ({{ totalUsuarios }})</h4>
                <h6 class="card-subtitle">Users in the app</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Avatar</th>
                                <th>Email</th>
                                <th>Name</th>
                                <th class="w140">Role</th>
                                <th class="w100">Auth</th>
                                <th class="text-nowrap w100">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <td class="text-center">
                                    <img [src]="user.urlImg" 
                                            alt="Image user"
                                            class="avatar cursor"
                                            (click)="abrirModal(user)">
                                </td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.name }}</td>

                                <td>
                                    <select class="form-control"
                                            [(ngModel)]="user.role"
                                            (change)="cambiarRole( user )">
                                        <option value="ADMIN_ROLE">Admin</option>
                                        <option value="USER_ROLE">User</option>
                                    </select>
                                </td>

                                <td>
                                    <span *ngIf="user.google" class="label label-danger">Google</span>    
                                    <span *ngIf="!user.google" class="label label-info">Email</span>    
                                </td>

                                <td class="text-nowrap text-center">  
                                    <a  (click)="updateUser(user)"
                                        data-toggle="tooltip" 
                                        class="cursor"
                                        data-toggle="tooltip" 
                                        data-placement="top" 
                                        title="Update medical"> 
                                        <em class="fa fa-pencil text-inverse m-r-10"></em> 
                                    </a>                                
                                    <a data-toggle="tooltip" 
                                        data-original-title="Borrar"
                                        class="cursor"
                                        (click)="eliminarUsuario(user)">
                                        <i class="fa fa-close text-danger"></i> 
                                    </a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <!--Pagination-->
                <div *ngIf="txtTermino.value.length === 0">
                    <button (click)="cambiarPagina('previous')" class="btn btn-secondary">Anteriores</button>
                    &nbsp;
                    <button (click)="cambiarPagina('next')" class="btn btn-secondary">Siguientes</button>
                </div>
                <!--Pagination-->
            </div>
        </div>
    </div>
</div>
<!--Table users-->
