<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">My profile user</h4>
                <h6 class="card-subtitle">Ajustes</h6>
                <form class="form p-t-20" [formGroup]="profileForm" (ngSubmit)="updateProfile()">
                    <div class="form-group">
                        <label for="exampleInputuname">User Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" formControlName="name" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [readOnly]="user.google" type="email" class="form-control" formControlName="email" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="text-danger">
                        {{ errorMessage }}
                    </div>
    
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" [disabled]="profileForm.invalid">Update profile</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Avatar</h4>
                <h6 class="card-subtitle">Imagen del usuario</h6>

                <div class="text-center">
                    <img *ngIf="imgTemp" [src]="imgTemp" alt="" height="200" width="200">
                    <img *ngIf="!imgTemp" [src]="user.urlImg" alt="" height="200" width="200">
                </div>
                
                <input type="file" (change)="changeImg($event.target.files[0])">

                <br> 
                <br>

                <button type="submit" [disabled]="!imageUser" (click)="actualizarImagen()" class="btn btn-success waves-effect waves-light m-r-10">Change Image</button>
            </div>
        </div>

    </div>
</div>
