<div class="row animated fadeIn fast">

    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <h3>Users</h3>

                <div class="alert alert-info animated fadeIn fast" *ngIf="users.length === 0">
                    <p class="mb-0">
                        Not found the search
                    </p>
                </div>

                <div class="table-responsive" *ngIf="users.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users" class="animated fadeIn fast">
                                <td>
                                    <img [src]="user.img | imagen:'users'" class="w75" />
                                </td>
                                <td>{{ user.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <h3>Hospitals</h3>

                <div class="alert alert-info animated fadeIn fast" *ngIf="hospitals.length === 0">
                    <p class="mb-0">
                        Not found the search
                    </p>
                </div>

                <div class="table-responsive" *ngIf="hospitals.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Photo</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitals" class="animated fadeIn fast">
                                <td>
                                    <img [src]="hospital.img | imagen:'hospitals'" width="50"/>
                                </td>
                                <td>{{ hospital.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <h3>Medicals</h3>

                <div class="alert alert-info animated fadeIn fast" *ngIf="medicals.length === 0">
                    <p class="mb-0">
                        Not found the search
                    </p>
                </div>

                <div class="table-responsive" *ngIf="medicals.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Photo</th>
                                <th>Medical</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medical of medicals" class="animated fadeIn fast">
                                <td>
                                    <img [src]="medical.img | imagen:'medicals'" class="w75" />
                                </td>
                                <td>
                                    <a [routerLink]="['/medicals', medical.id ]">
                                        {{ medical.name }}
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>