<div class="input-group">

    <span class="input-group-btn">
        <button type="button" 
                (click)="cambiarPocentaje(-5)"
                [ngClass]="btnClass"
                >
            <i class="fa fa-minus"></i>
        </button>
    </span>
    <!-- (ngModelChange) , detecta los cambios de ngModel-->
    <input  type="number" 
            class="form-control is-invalid" 
            [ngClass]="{'is-invalid': progress > 100 || progress < 0}"
            placeholder="Progress" 
            (ngModelChange)="onChange($event)"
            [(ngModel)]="progress">
    <span class="input-group-btn">
        <button (click)="cambiarPocentaje(5)" 
                type="button"
                [ngClass]="btnClass">
            <i class="fa fa-plus"></i>
        </button>
    </span>
</div>

