<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Buscar Medico..." 
                    #termino
                    (keyup)="searchMedicals(termino.value)"/>

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="loading">
    <div class="col-12">

        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <em class="fa fa-spin fa-refresh fa-2x"></em>
            <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div>


<div class="row"
    *ngIf="!loading">

    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Medicals ({{ medicals.length }})</h4>
                        <h6 class="card-subtitle">
                            Medicals in the app
                        </h6>
                    </div>

                    <div class="col">
                        <div class="text-right">
                            <a class="btn btn-primary"
                                routerLink="../medicals/new">
                                Create Medical
                            </a>
                        </div>
                    </div>

                </div>


                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Photo</th>
                                <th>Name</th>
                                <th class="w100 text-nowrap">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medical of medicals">
                                <td class="text-center"> 
                                    <img [src]="medical?.img | imagen:'medicals'" 
                                        [alt]="medical?.name"
                                        class="cursor avatar"
                                        (click)="openModal(medical)"> 
                                </td>
                                <td>
                                    <input type="text" 
                                            class="form-control"
                                            placeholder="Nombre del medico"
                                            [(ngModel)]="medical.name"/>
                                </td>
                                
                                <td class="text-nowrap text-center">
                                    <a  (click)="updateMedical(medical)"
                                        data-toggle="tooltip" 
                                        class="cursor"
                                        data-toggle="tooltip" 
                                        data-placement="top" 
                                        title="Update medical"> 
                                        <em class="fa fa-pencil text-inverse m-r-10"></em> 
                                    </a>

                                    <a (click)="deleteMedical(medical)" 
                                        data-toggle="tooltip" 
                                        data-placement="top" 
                                        title="Delete medical"
                                        data-toggle="tooltip" 
                                        class="cursor"> 
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>