<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor"> {{currTtitle}}</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/" >Home</a>
            </li>
            <li class="breadcrumb-item" *ngFor="let i of breadcrumbs">
                <a [routerLink]="i.url" >{{i.name}}</a>
            </li>
            <li class="breadcrumb-item active">
                <a>{{currTtitle}}</a>
            </li>
        </ol>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->