
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                
                <h4 class="card-title">Medical</h4>

                <form class="form-horizontal p-t-20"
                        [formGroup]="medicoForm"
                        (submit)="saveMedical()">
                    
                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" 
                                        formControlName="name"
                                        class="form-control" 
                                        id="exampleInputuname3" 
                                        placeholder="Medical name">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputEmail3" class="col-sm-3 control-label">Hospital</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <select class="form-control"
                                        formControlName="hospital">
                                    <option value="">Select Hospital</option>
                                    <option *ngFor="let hospital of hospitals"
                                        [value]="hospital.id">
                                        {{ hospital.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit"
                                    [disabled]="medicoForm.invalid"
                                    class="btn btn-success waves-effect waves-light">
                                <i class="fa fa-save"></i>
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col animated fadeIn fast"  
        *ngIf="hospitalSelected">
        <div class="card">
            <div class="card-body">
                
                <h4 class="card-title">Hospital</h4>
                <h6 class="card-subtitle">{{ hospitalSelected.name }}</h6>

                <img [src]="hospitalSelected.img | imagen:'hospitals'" 
                    class="img-thumbnail"/>

            </div>
        </div>

    </div>
</div>


