<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        <li><b>Con el sidebar claro</b></li>
                        <li (click)="changeTheme('default')"><a data-theme="default" class="selector default-theme"></a></li>
                        <li (click)="changeTheme('green')"><a data-theme="green" class="selector green-theme"></a></li>
                        <li (click)="changeTheme('red')"><a data-theme="red" class="selector red-theme"></a></li>
                        <li (click)="changeTheme('blue')"><a data-theme="blue" class="selector blue-theme"></a></li>
                        <li (click)="changeTheme('purple')"><a data-theme="purple" class="selector purple-theme"></a></li>
                        <li (click)="changeTheme('megna')"><a data-theme="megna" class="selector megna-theme"></a></li>
                
                        <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
                        <li (click)="changeTheme('default-dark')"><a data-theme="default-dark" class="selector default-dark-theme"></a></li>
                        <li (click)="changeTheme('green-dark')"><a data-theme="green-dark" class="selector green-dark-theme"></a></li>
                        <li (click)="changeTheme('red-dark')"><a data-theme="red-dark" class="selector red-dark-theme"></a></li>
                        <li (click)="changeTheme('blue-dark')"><a data-theme="blue-dark" class="selector blue-dark-theme"></a></li>
                        <li (click)="changeTheme('purple-dark')"><a data-theme="purple-dark" class="selector purple-dark-theme"></a></li>
                        <li (click)="changeTheme('megna-dark')"><a data-theme="megna-dark" class="selector megna-dark-theme"></a></li>
                    </ul>
                
                </div>
            </div>
        </div>
    </div>
</div>