/* You can add global styles to this file, and also import other style files */

.fastAnimate {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

#themecolors .selector {
    cursor: pointer;

}
button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }

.cursor {
    cursor: pointer;
}

.d-none {
    display: none;
}

.fondo-modal-imagen {
    background-color: rgba(0, 0, 0, 0.4);
    left: 0px;
    height: 100%;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
}

.avatar {
    width: 50px;
    height: 50px;
}